# Node
node_modules/
npm-debug.log*

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# Environment secrets
src/environments/environment.local.ts

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
